In [6]:
import pandas as pd
from pathlib import Path

In [7]:
MAIN_PATH = Path(r"C:\Users\ag\alvaro\git\financial_planner")
BANK_DATA_PATH = MAIN_PATH / "bank_statements"
NORDEA_PATH = BANK_DATA_PATH / "nordea"
DANSKE_PATH = BANK_DATA_PATH / "danske"

In [8]:
all_dfs = []
for file in sorted(NORDEA_PATH.glob("*.csv")):
    df = pd.read_csv(file, sep=';')
    all_dfs.append(df)

nordea_df = pd.concat(all_dfs, ignore_index=True)
nordea_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1212 entries, 0 to 1211
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Booking date    546 non-null    object
 1   Amount          546 non-null    object
 2   Sender          513 non-null    float64
 3   Recipient       33 non-null     float64
 4   Name            0 non-null      float64
 5   Title           546 non-null    object
 6   Balance         546 non-null    object
 7   Currency        546 non-null    object
 8   Reconciled      0 non-null      float64
 9   Unnamed: 9      0 non-null      float64
 10  Bogføringsdato  666 non-null    object
 11  Beløb           666 non-null    object
 12  Afsender        626 non-null    float64
 13  Modtager        40 non-null     float64
 14  Navn            12 non-null     object
 15  Beskrivelse     666 non-null    object
 16  Saldo           665 non-null    object
 17  Valuta          666 non-null    object
 18  Afstemt         0 non-null      float64
dtypes: float64(8), object(11)
memory usage: 180.0+ KB

In [9]:
all_dfs = []
for file in sorted(DANSKE_PATH.glob("*.csv")):
    df = pd.read_csv(file, sep=',')
    all_dfs.append(df)

danske_df = pd.concat(all_dfs, ignore_index=True)
danske_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Booking date       545 non-null    object
 1   Amount             546 non-null    float64
 2   Title              546 non-null    object
 3   Balance            546 non-null    float64
 4   Currency           546 non-null    object
 5   Positive_negative  546 non-null    object
 6   TypeExpense        240 non-null    object
dtypes: float64(2), object(5)
memory usage: 30.0+ KB

In [10]:
danske_df['TypeExpense'].value_counts()

TypeExpense
Groceries    173
Salary        19
Sports        14
Rent          14
Household      8
Transport      6
Utilities      3
Shopping       2
Internet       1
Name: count, dtype: int64